.dropdown-menu .dropdown-item:hover{
    background: lightblue;
}

.custom-list-partial { 
    border: 1px solid white;
    border-top: 1px solid rgb(155, 148, 148);
}

.custom-list-full { 
    border: 1px solid white;
    border-top: 1px solid rgb(155, 148, 148);
}
.test {
    border: 1px solid black;
}

.crew-201status {
    background-color: rgb(155, 148, 148);
    border-color: rgb(155, 148, 148);   
}

/*********************************************************/
.docu-table > tr {
    width: 100% !important;  
    display: inline-table !important;
    table-layout: fixed !important;
    }
    
    .docu-table >table{
     height: 3000px !important;            
     display: -moz-groupbox !important;  
    }
    .docu-table >tbody{
      overflow-y: scroll !important;      
      height: 1150px !important;            
      width: 100% !important;
      position: absolute !important;
    }