.dropdown-menu .dropdown-item:hover{
    background: lightblue;
}

.custom-list-partial { 
    border: 1px solid white;
    border-top: 1px solid rgb(155, 148, 148);
}

.custom-list-full { 
    border: 1px solid white;
    border-top: 1px solid rgb(155, 148, 148);
}

.col .test {
    border: 1px solid black;
}

.crew-201status {
    background-color: rgb(155, 148, 148);
    border-color: rgb(155, 148, 148);   
}